div{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    font-size: 80%;
    display: flex;
    justify-content: center;/*CENTRA HORIZONTAL*/
    align-items: center;/*CENTRA VERTICALMENTE*/
}