h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
  font-size: 20px;  
}
h5{
   font-size: 15px; 
}
h6{
    font-size: 10px;
}