h1,h2,h3{
    text-transform: uppercase;
}
h1{
    letter-spacing: 15px;
    word-spacing: 20px;
}
h2{
    letter-spacing: 10px;
    word-spacing: 15px;
}
h3{
    letter-spacing: 5px;
    word-spacing: 10px;;
}