@import "tailwindcss";

/*EJERCICIO 1*/

.main-grid{@apply p-5 grid col-span-4 row-span-3 gap-2};

.header{@apply bg-blue-700 col-start-1 col-end-4 };

.sidebar{@apply bg-blue-900  col-span-1};

.main-content{@apply bg-gray-400 col-start-2 col-end-4};

.footer{@apply bg-blue-950 col-start-1 col-end-4};

.header,.footer{@apply p-7};

.sidebar,.main-content{@apply p-15}

/*EJERCICIO 2*/

.main-grid2{@apply p-5 grid col-span-8 row-span-2 gap-2};

.destacado{@apply bg-orange-400 col-start-1 col-end-7};

.vertical{@apply bg-orange-300 col-start-7 col-end-8};

.base{@apply p-12 bg-orange-600 col-start-1 col-end-8};

.destacado,.vertical{@apply p-30 grid justify-items-center rounded-md}

.vertical,.base,.header,.sidebar,.main-content,.footer{@apply grid justify-items-center text-white rounded-md}