@import "tailwindcss";

.marg,.box{@apply m-5}

.boton{@apply m-4 p-2 rounded-2xl hover:bg-blue-300 active:bg-blue-900 focus:border-green-700;}

.box{@apply w-15 h-15 bg-amber-900 opacity-50 transition-opacity duration-500 ease-in hover:opacity-100}


.img{@apply hover:scale-125 hover:rotate-45 hover:translate-x-250 duration-500}

.image{@apply w-20 h-20}