/* primer ejercicio */
.contenedor{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: rgb(221, 195, 199);
    width: 100%;
    height: 10em;
}
.caja{
    text-align: center;
    background: pink;
    width: 6em;
    padding: 2%;
    border: 1px solid rgb(219, 135, 149);
}
/* segundo ejercicio */
.menu{
    margin-top: 4em;
    height: 3em;
    background: #000;
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.item{
    color: white;
    background: rgb(66, 64, 64);
    padding: 0.3em;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    color: rgb(60, 183, 187);
    padding-left: 1em;
    padding-right: 0.6em;
}
/* tercer ejercicio */
.panel{
    margin-top: 4em;
    border: 4px solid rgb(105, 105, 190);
    display: flex;
    height: 8em;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.paneles{
    
    border: 2px solid rgb(244, 194, 203);
    padding: 1em;
    padding-left: 2em;
    margin-left: 2em;
    margin-right: 2em; 
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 16em;

}
span{
    
    font-weight: bold;
}

/*cuarto ejercicio */
.container{
    margin: auto;
    margin-top: 4em;
    width: 20em;
    height: 29em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
}
.mensaje{
    background: rgb(143, 143, 204);
    border-radius: 2em;
    padding: 0.2em;
    padding-left: 1em;
}
.mensajes{
    display: flex;
    order: 1;
    flex-direction: column;
    gap: 1em;
    width: 16em;
    margin: auto;
    margin-right: 3em;
    

}
.escribe{
    display: flex;
    order: 2;
    background: #ccc1c1;
    height: 1em;
    padding: 1em;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    border-top: 0.1em solid black;
}
button,input{
    padding: 0.5em;
}
input{
    width: 15em;
}
button{
    background: rgb(124, 124, 220);
    color: white;
}

