*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
}
li{
    list-style: none;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    width: 800px;
    background-color: rgb(200, 200, 123);
    text-align: center;
    justify-content: center;
}
a:hover{
    color:black;
}
a:active{
    font-weight: bold;
    text-decoration: underline;
}