p:nth-of-type(1){background-color: #000; color: white;  
}
p:nth-of-type(2){background-color: #111; color: white;  
}
p:nth-of-type(3){background-color: #222; color: white;  
}
p:nth-of-type(4){background-color: #333; color: white;  
}
p:nth-of-type(5){background-color: #444; color: white;  
}
p:nth-of-type(6){background-color: #555; color: white;  
}
p:nth-of-type(7){background-color: #666; 
}
p:nth-of-type(8){background-color: #777;
}
p:nth-of-type(9){background-color: #888; 
}
p:nth-of-type(10){background-color: #999; 
}
p:nth-of-type(11){background-color: #aaa; 
}
p:nth-of-type(12){background-color: #bbb; 
}
p:nth-of-type(13){background-color: #ccc; 
}
p:nth-of-type(14){background-color: #ddd;
}
p:nth-of-type(15){background-color: #eee;  
}
p:nth-of-type(16){background-color: #fff;
}