section{
    display:inline-block;
    border-left: 1px solid black;
    padding: 1em;
}
a:link{
    color:blue;
    text-decoration: underline;
}
a:visited{
    color:rgb(87, 4, 165);
    text-decoration: none;
}
a:hover{
    color:black;
    background-color: yellow;
}
a:active{
    color: red;
}