h1{/* coloco font size decreciente para cada titulo */
    font-size: 40px;
    font-family: 'Arial';      /* coloco a los 3 primeros font family diferentes */
}
h2{
    font-size: 30px;
    font-family: 'Arial Black'
}
h3{
    font-size: 25px;
    font-family: 'Arial Narrow'
}
h4{
    font-size: 20px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 10px;
}
