.contenedor{
    display: flex;   /* al contenedor padre le obligo mediante flex y gap a que tengan un margen de 10px entre ellos */
    gap: 10px;
}

.celda1{
    width: 50%;                    /* añado ancho a cada celda y diferente color */
    background: rgb(29, 176, 26);
}
.celda2{
    width: 20%;
    background: blue;
}
.celda3{
    width: 10px;
    background: rgb(215, 6, 34);
}