.menu{

    display: flex;  /* realizamos flex para dejarlo en una fila */
    align-items: center;  /* centramos vertical */
    justify-content: center; /* centramos texto */
    text-decoration: none; /* quitamos subrayado */
    list-style: none; /* quitamos puntos de lista */
    width: 800px;
    gap: 1rem;/* ponemos a 1rem de distancia entre items */
    margin: auto;  /* centramos menu al centro de la pagina */
    background: grey;
    padding: 0.5rem; /* padding interno */
    

}
a{
    color: rgb(159, 25, 169);
    text-decoration: none;

}
a:hover{
    color: black;
}
a:active{/* al pulsar negrita y subrayado */
    text-decoration: underline;
    font-weight: bold;
}
