button{
    background: grey;  
    transition: 0.5s;
    
}
button:hover{    /* hacemos que cambie a azul cuando el cursor esta encima  */
    background: blue;
    transition: 0.5s;
}
button:active{    /* cuando mantenemos presionado cambia a verde todo tiene una transicion de 0.5 */
    background: green;
    transition: 0.5s;
}