a{
    color: blue; 
   
}
a:visited {
 color: purple;  /* se vuelve morado y sin subrayar al ser visitado */
text-decoration: none;
    }
a:hover{  /* el fondo se vuelve amarillo al pasar cursor */
    color: black;
    background: yellow;
}
a:active{
    color: red;  /* se pone rojo al ser activado */
}
.enlaces{
       column-count: 2;/* divido en dos columnas */
      column-gap: 20px;
      width: 400px;
      
}