ol{         
    list-style-type: lower-roman;   /* cambiamos tamaño margen color y añadidos estilo de lista en cada lista correspondiente */
    margin: 10%;
    font-size: 14px;
    color: blue;
}
ol ol{
    list-style: lower-alpha;   /* para letras en minuscula */
    margin: 8%;
    font-size: 24px;
    color: rgb(186, 42, 172);
}
ol ol ul{  /* seria para el ul que esta dentro del ol que esta dentro del ol principal */
    list-style: square;    /* para viñetas cuadradas */
    margin: 5%;
    font-size: 17px;
    color: rgb(14, 162, 76);
}