form{
    display: flex;      /* hacemos display flex y hacemos fles direction columns para ponerlos en vertical */
    flex-direction: column;
    width: 20%;  /* aplicamos ancho */
    margin: auto;  /* centramos en pantalla */
    gap: 1em;  /* distancia entre items */
   
    
   
}
input,textarea{   /* para los inputs y textarea color de fondo altura igual y borde */
background: rgb(208, 203, 203);
height: 3em;
border: 1px solid black;
}
input:hover{
    border: 1px solid rgb(52, 175, 52); /* cambio de borde al pasar cursor */
}
input:focus{
    border: 1px solid rgb(52, 175, 52); /* al clicar cambiara el borde */
}
button{
    background: #181818;  /* fondo y color de texto diferente para contrastar */
    color: white;
}
