h1:nth-of-type(1){
    text-transform: uppercase;
    background-color: aqua;
}

h1:nth-of-type(2){
    text-transform: lowercase;
    background-color: blueviolet;
}

h1:nth-of-type(3){
    background-color: blue;
}
h1:nth-of-type(3)::first-letter{
    text-transform: uppercase;
}