@import "tailwindcss";
* {
    /*AFECTA A TODO EL INDEX*/
    @apply m-0 p-0;
}

.content {
    /*GENERAL*/
    @apply bg-[#67d4d6b0] w-[100vw] h-[100vh] flex flex-col items-center ;
    /*RESPONSIVE*/
    @apply lg:flex lg:flex-col lg:justify-items-center lg:justify-center lg:gap-8;
}

.logo-respon{
    /*GENERAL*/
    @apply block;
    /*RESONSIVE*/
    @apply lg:hidden;
}

.logo{
    /*GENERAL*/
    @apply hidden;
    /*RESPONSIVE*/
    @apply lg:w-[100%] lg:flex lg:h-auto lg:justify-center lg:row-start-2;
}

.logo img {
    /*RESPONSIVE*/
    @apply lg:w-[15%] lg:h-auto ml-5;
}

h1 {
    /*GENERAL*/
    @apply text-[#6d6a6a] text-center hidden;
    /*RESPONSIVE*/
    @apply lg:block
}

.menu {
    /*GENERAL*/
    @apply w-full flex flex-col rounded-[30px] bg-[#d0d6d6b5] shadow-[2px_2px_2px_rgba(0,0,0,0.651)];
    /*RESPONSIVE*/
    @apply lg:border-1 lg:w-[48vw] lg:h-auto lg:pt-8 lg:pb-15 lg:grid lg:grid-rows-3 lg:gap-8 lg:flex lg:flex-row lg:items-center lg:justify-items-center ;

}
.blq2,.blq3{
    /*GENERAL*/
    @apply flex flex-col w-full;
    /*RESPONSIVE*/
    @apply lg:flex lg:flex-row lg:gap-5 lg:w-auto}

.blq1{
    /*RESPONSIVE*/
    @apply lg:col-span-full lg:row-span-1;
}
.blq2{
    /*RESPONSIVE*/
    @apply lg:col-span-full lg:row-span-2;
}
.blq3{
    /*RESPONSIVE*/
    @apply lg:col-span-full lg:row-span-3;
}

a {
    /*GENERAL*/
    @apply w-full h-auto text-center no-underline bg-[#9c4848] text-white border border-black text-[22px] transition-all hover:bg-[#c86464] hover:shadow-[2px_2px_2px_rgba(0,0,0,0.788)];
    /*RESPONSIVE*/
    @apply lg:w-[70%] lg:max-h-full lg:p-8
}