*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    justify-items: center;
}

.main-content{
    display: flex;
    flex-direction: row;
}
.content-origin{
    border-right: 3px solid black;
    padding: 2em;
}
.content-origin,.content-edit{
    display: flex;
    flex-direction: column;
    margin: 1em;
}